.first-text {
    font-family: "Montserrat";
    font-size: 1rem;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1rem 3rem 0rem 3rem ;
    margin-bottom: 6rem;
}

.second-text {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(1fr);
    margin-bottom: 6rem;
    .second-text__img-container {
        display: flex;
        justify-content: center;
        grid-column: 2/4;
        grid-row: 1;
        img {
            width: 16rem;
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.418);
        }
    }
    .second-text__text-container {
        text-align: center;
        grid-column: 5/7;
        grid-row: 1;
        display: grid;
        align-content: center;
    }
}