.faqBox {
    display: flex;
    justify-content: center;
    .faqContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 50px;
        gap: 50px;
        width: 39%;
        .faqCard {
            font-family: "Montserrat";
            padding: 25px;
            box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.13);
            .questions {
                font-weight: bold;
            }
            .answers {
                flex-wrap: wrap;
            }
        }
    }
}
